.modalForm {
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #1a1a1a;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.serverError {
  color: rgb(233, 3, 58);
  text-align: center;
}
